<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" name="matchup" content="matchup two calendars' free time">
  <script src="bower_components/angular/angular.min.js"></script>
  <link type="text/css" rel="stylesheet" href="app.css">
</head>
<body style="background-color: aliceblue;">

<div class="index-container">
  <div class="index-header">
    <h1>Matchup</h1>
  </div>
  <div class="index-main">
    <form  ng-app="mainform" ng-controller="formController">
      First calendar: <input type="text" ng-model="calendarId1"><br>
      Second calendar: <input type="text" ng-model="calendarId2"><br>
      Start time: <input type="text" ng-model="timeMin"><br>
      End time: <input type="text" ng-model="timeMax"><br>
      <select ng-model="timeZone">
        <option value="EST">EST</option>
        <option value="PST">PST</option>
        <option value="GMT">GMT</option>
      </select>
      <button ng-click="matchup()">MatchUp</button>
      <p ng-repeat="record in Match_Result">{{record}}</p>
      <p>{{test}}</p>
    </form>
  </div>
</div>
<script src="app.js"></script>
</body>
<footer></footer>
</html>
